{%  extends 'master.html' %}
{% load static %}

{% block title %}
    Telefoni - prodaja
{% endblock %}.image.url

{%  block content %}
<main role="main" class="container">
    <div class="jumbotron">
        <h1>Phones</h1>
    </div>
</main>


<div class="container">
<div class="row">
        {% for product in Products %}
        <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">
                <div class="product-imitation">
                   <img height="300" width="100" src="{{product.image.url }}">
                </div>
                <div class="product-desc">
                    <span class="product-price">
                        $ {{ product.price }}
                    </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name">  {{ product.name }}</a>

                    <div class="small m-t-xs">

                    </div>
                    <div class="m-t text-righ">

                        <a href="{% url 'test:product' product.id %}" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}

</div>
</div>



{% endblock %}