{% extends 'master.html' %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h1>
                {{ product.name }}
                {% if perms.test.change_product %}
                    <a href="{% url 'test:edit' product.id %}">
                        <span class="badge badge-primary">Edit</span>
                    </a>
                {% endif %}
            </h1>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ product.price }} $</p>
                  <img  src="{{product.image.url }}">
                <footer class="blockquote-footer">
                     <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>

          <div class="card-body">
              {% for r in rev %}
              <p>{{r.comment}}</p>

              <small class="text-muted">Posted by {{r.owner}} on {{r.created_at}}</small>
            <hr>
              {% endfor %}


            <hr>
              <form method="post"  action="{% url 'test:review' product.id %}">
                   {% csrf_token %}
                  <input type="text" class="form-control" id="{{ form.comment.id_for_label }}" name="{{ form.comment.name }}" placeholder="Comment...">
                    {% if user.is_authenticated %}
                     <input type="submit" class="btn btn-primary btn-lg" value="Leave a Review"/>
                  {% else %}
                   <input type="submit" class="btn btn-primary btn-lg" value="Leave a Review" disabled/>
                  {% endif %}
                  {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}
                  <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
                  </div>
                 {% endfor %}
               {% endfor %}
               {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                 <strong>{{ error|escape }}</strong>
               </div>
               {% endfor %}
              {% endif %}
             </form>
          </div>
        </div>
                </footer>
            </blockquote>
        </div>
    </div>

{% endblock %}